
/* ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬[Color]▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */

.bgColor: #f7fcff;
.labelColor: #8b9aa6;
.h4Color: #8b9aa6;
.colorLight: #8b9aa6;
.colorDark: #233646;
.cornflowerBlue: #4a90e289;
.borderColor: #d9d9d9;

/* ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬[Font Family]▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */

.mainFont: 'Poppins', sans-serif;

/* ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬[Page Global Rules]▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */

body {
  font-size: 20px;
  padding: 0;
  margin: 0;
  background-color: #54504C;
}
header {
  background: #F5F5F5;
  background-size: absolute;
  padding-left: 0px;
  width: 100%;
  min-height: 150px;
  
}
#logo {
  position:absolute;
  padding-top: 90px;
  padding-left: -150px;
  
}
main {
  min-height: 500px;
  background-color: #54504C;
}
section {
  padding: 10px;
  box-sizing: border-box;
}
aside {}

/* GLOBAL
----------*/
* {
   box-sizing: border-box;
   &::before, &::after {
      box-sizing: border-box;
   }
}

/* HEADING
---------*/
h1,h2,h3,h4,h5,h6 {
   margin: 0;
}

h2 {

}

h4 {

}

/* HR
----*/
hr {

}

/* LABEL
------*/
label {

}

/* INPUT PLAIN
-------------*/
input[type=text],
input[type=email] {

}

/* INPUT SUBMIT & BUTTON
----------------------*/
input[type=submit],
input[type=button] {

}

/* CUSTOM INPUT RADIO
------------------==--*/
input[type=radio] {

}

/* CUSTOM INPUT CHECKBOX
----------------------*/
input[type=checkbox] {

}

/* CUSTOM SELECT
--------------*/
select {

}

/* PLACEHOLDER
------------*/
::placeholder {

}

/* ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬[Custom Global Style]▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */

/* HTML
-----*/
html {

}

/* BODY
-----*/
body {
   background: #98FB98;
   display: flex; /* mixin flex inline-flex*/
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   font: {
      family: $mainFont;
   }
   @media (max-width: 992px) {
      margin: 1rem;
   }
}

html, body {
   height: 100%;
   @media (max-width: 992px) {
      height: auto;
   }
}

* {
   outline: 0;
}

input[type=text],
input[type=email] {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   padding: .67rem .8rem;
   margin-top: .6rem;
   line-height: 1.2;
   color: #0000;
   transition: border-color 150ms ease-in-out,
   box-shadow 150ms ease-in-out;
   border-radius: 5px;
   border: 1px solid $borderColor;
   font: {
      font-family: mainFont;
      font-weight: 500;
      size: 15px;
   }
   &:focus {
      border: 1px solid rgba($cornflowerBlue, .7);
      box-shadow: 0px 0px 0 3px rgba($cornflowerBlue, .3);
   }
}

.placeholder {
   color: $colorLight;
   font: {
      size: 15px;
   }
}

label {
   color: $labelColor;
   text-transform: uppercase;
   letter-spacing: .3px;
   font: {
      size: 13px;
      font-weight: 500;
   }
}


input[type=button],
input[type=submit] {
   border: 0;
   padding: .6rem 0;
   width: 138px;
   border-radius: 5px;
   background: $cornflowerBlue;
   color: #fff;
   cursor: pointer;
   font: {
      family: $mainFont;
      size: 15px;
      font-weight: 400;
   }
   transition: all 250ms ease;
   &:hover {
      transform: translateY(-3px);
      box-shadow: 1px 10px 16px rgba(#4468c2, 0.18);
   }
   &:active {
      position: relative;
      top: 2px;
      left: 2px;
   }
}


/* CUSTOM SELECT - JS
-----------------------*/

.select-hidden {
   display: none;
   visibility: hidden;
}
.select {
   cursor: pointer;
   position: relative;
   margin-top: .6rem;
   font: {
      family: $mainFont;
      size: 15px;
      font-weight: 500;
   }
   -webkit-user-select: none; 
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
.select-styled {
   background-color: #fff;
   color: $colorDark;
   border: 1px solid #d9d9d9;
   border-radius: 4px;
   padding: .7rem .8rem;
   transition: all 250ms ease;
   position: relative;
   &::after {
      content: "\f3d0";
      font-family: "Ionicons";
      font-size: 17px;
      display: inline-block;
      color: $cornflowerBlue;
      position: absolute;
      right: 14px;
      top: 50%;
      transform: translateY(-50%);
      transition: all 250ms ease-in;
   }
   
   &:hover {
      background-color: $cornflowerBlue;
      color: #fff;
      &::after {
         color: #fff;
      }
   }
   &:active, &.active {
      background-color: $cornflowerBlue;
      color: #fff;
      box-shadow: 0px 0px 0 3px rgba($cornflowerBlue, .3);
      &::after {
         color: #fff;
         transform: rotate(180deg);
         top: 25%;
      }
   }
}
.select-options {
   position: absolute;
   top: 100%;
   right: 0;
   left: 0;
   z-index: 999;
   display: none; 
   margin: .45rem 0 0 0;
   padding: .4rem 0;
   list-style: none;
   border-radius: 4px;
   background-color: #fff;
   box-shadow: 0 10px 16px rgba(68, 104, 194, 0.18);
   li {
      margin: 0;
      padding: 8px 15px;
      transition: all 150ms ease-in;
      color: $cornflowerBlue;
      &:hover {
         background-color:  $cornflowerBlue;
         color: #fff;
      }
      &[rel="hide"] { // Select Title
         display: none;
      }
   }
}


/* CUSTOM INPUT RADIO
----------------------*/

.radio {
   position: relative;
   cursor: pointer;
   font-size: 15px;
   
   .label {
      position: relative;
      display: inline-block;
      vertical-align: text-top;
      margin-right: 10px;
      width: 20px;
      height: 20px;
      border: 1px solid #dfdfdf;
      border-radius: 100%;
      -webkit-tap-highlight-color: transparent;
      &::after {
         content: '';
         position: absolute;
         top: 4px;
         left: 4px;
         width: 10px;
         height: 10px;
         border-radius: 100%;
         background: $cornflowerBlue;
         transform: scale(0);
         transition: all .2s ease;
         opacity: .08;
         pointer-events: none;
      }
   }
   &:hover .label::after {
   transform: scale(3.6);
   }
   &:hover .label::after {
   transform: scale(3.6);
   }
   input[type="radio"] {
      &:checked + .label {
         border-color: #dfdfdf;
      }
      &:checked + .label::after {
         transform: scale(1);
         transition: all .2s cubic-bezier(.35, .9, .4, .9);
         opacity: 1;
      }
      &.hidden {
         display: none;
      }
   }
}


/* ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬[Start Page Style]▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */

/*MAIN WRAPPER*/
.quick-reservation {
   @media (max-width: 992px) {
      width: 100%;
      margin: 1rem;
   }
   
   background-color: #fff;
   max-width: 1020px;
   min-margin: 0 auto; /* Class margin-auto margin-r-auto margin-l-auto */
   border-radius: 2px;  /* mixin & class radius-circle radius-circle-btns */
   box-shadow: 0 43px 100px  rgba(#4468c2, .18);
   .container {
      display: grid; /* mixin */
      grid-template-columns: repeat(4, 1fr);
      padding: 0 3.2rem;
      @media only screen and (max-width: 992px) {
         display: block;
      }
      /*FORM HEADER*/
      .quick-reservation__header {
         grid-column: 1 / -1;
         display: flex;
         padding: 5rem 0;
         padding-top: 100px;
         border-bottom: 2px solid #f3f9fe;
         .title {
            margin: 0 auto;
            color: #0000;
            text-transform: uppercase;
            font: {
               size: 22px;
               font-weight: 500px;
            }
         }
         position: relative;
         .close-icon {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: #fff;
            cursor: pointer;
            position: absolute;
            /* Center Position Absolute V */
            /*ABSOLUTE CENTERING ONLY REQUIRES A DECLARED HEIGHT*/
            margin: auto;
            top: 0; /*  TOP & BOTTOM to (center Verticaly) only. */
            bottom: 0; /*  TOP & BOTTOM to (center Verticaly) only. */
            right: 0; /* RIGHT to (pull to right) only */
            /* Center Position Absolute V */

            transition: all 300ms ease;
            transition-timing-function: cubic-bezier(0.05, 1.8, 1, 1.57);
            &:hover {
               transform: translateY(-4px);
               box-shadow: 0px 10px 30px -14px #000;
            }
            &:active {
               top: 3px;
               right: -3px;
               box-shadow: 0px 8px 30px -14px #000;
            }

            span {
               display: inline-flex;
               width: 3px;
               height: 33px;
               border-radius: 3px;
               background: #ccc;
               position: absolute;
               /* Center Position Absolute V & H */
               /*ABSOLUTE CENTERING ONLY REQUIRES A DECLARED HEIGHT*/
               margin: auto;
               top: 0;
               bottom: 0;
               left: 0;
               right: 0;
               /* Center Position Absolute V & H */
               transform: rotate(-45deg);
               &:last-child {
                  transform: rotate(45deg);
               }
            }
         }
      }

      /*FORM CONTENT*/
      .quick-reservation__form {
         grid-column: span 3;
         .form__content {
            min-height: 100%;
            padding: 5rem 5rem 5rem 0;
            @media only screen and (max-width: 992px) {
               padding-right: 0;
            }
            .row-wrapper {
               display: flex;
               @media only screen and (max-width: 830px) {
                  display: block;
               }
               &:not(:last-child) {
                  margin-bottom: 1.8rem;
               }
               .ele {
                  flex: 1;
                  font-size: 0;
                  @media only screen and (max-width: 830px) {
                     &:not(:last-child) {
                        margin-bottom: 2rem;
                     }
                     width: 100%;
                  }
                  &:not(:last-child) {
                     margin-right: 1.3rem;
                  }
                  input, select {
                     width: 100%;
                  }

               }
               .rate-type, .first-name,
               .last-name, .email-address,
               .phone-number {
                  flex: 0; /* Important - I used it without planning, but I dont't understand how it works and gave me what i need.*/
                  flex-basis: 256px;
                  input, select {
                     width: 100%;
                  }
               }
            }
            .more-options {
               margin-top: 2.2rem;
               @media only screen and (max-width: 500px) {
                     display: flex;
                     flex-direction: column;
                  }
               label {
                  @media only screen and (max-width: 500px) {
                     &:not(:last-child) {
                        margin-bottom: 1.4rem;
                     }
                  }
                  text-transform: none;
                  &:not(:last-child) {
                     margin-right: 1.6rem;
                  }
               }
            }
         }
      }

      /*RES-INFO*/
      .reservation-info {
         grid-column: 4 / 5;
         padding: 2.5rem 0 2.5rem 2rem;
         @media only screen and (max-width: 992px) {
            padding: 1rem 0 2.5rem;
         }
         .data{
            &:not(:last-child) {
               margin-bottom: 2.3rem;
            }

            .data__head {
               color: $labelColor;
               text-transform: uppercase;
               letter-spacing: .3px;
               margin-bottom: .5rem;
               font: {
                  size: 13px;
                  weight: 500;
               }
            }               
            .data__description  {
               margin: 0;
               color: $colorDark;
               line-height: 1.4;
               font: {
                  size: 18px;
                  font-weight: 800;
               }
            }
         }
      }

      /*FORM FOOTER*/
      .form__footer {
         grid-column: 1 / -1;  
         display: grid; /* mixin */
         grid-template-columns: repeat(4, 1fr);
         justify-content: flex-end;
         padding: 3rem 0;
         border-top: 2px solid #f3f9fe;
         @media only screen and (max-width: 600px) {
            display: block;
         }
         .footer-wrapper {
            grid-column: 1 / 4;
            justify-self: end;
            @media only screen and (max-width: 992px) {
               grid-column: 1 / -1;
               justify-self: center;
            }
            @media only screen and (max-width: 830px) {
               display: flex;
               flex-direction: column;
            }
            input[type=button],
            input[type=submit] { 
               &:not(:last-child) {
                  margin-right: 1.3rem;
               }
               @media only screen and (max-width: 600px) {
                  width: 100%;
               }
               @media only screen and (max-width: 830px) {
                  &:not(:last-child) {
                     margin-right: 0;
                     margin-bottom: 1.3rem;
                  }
               }
            }
         }
      } 
   } 
}


/*------------*/

.after {
   z-index: -1;
   @media (max-width: 992px) {
      margin: 200px 30px;
   }
}


.find-parking {
  width: 100%;
  padding: 0px 70;
  top:50px;
  overflow: hidden; /*clip the keylines outside the container */
  position-top: 30px;
  background: linear-gradient(top, #92b63c 0%, #608c1e 100%);   
}

h2 {
  display: inline;
  position: relative;
  padding: 0 50px; /*gap between keylines and text */
  text-align: center;
  top: -30px;
   
  /*font styles - not needed to create the keylines*/
  color: #fff;
  font-size: 20px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

  h2:before,
  h2:after {
    content: ""; 
    position: absolute; 
    top:14px;
    width: 200%; /*can be set larger, but this was the largest it needed to be in my case*/
    height: 0;
   
    /* the actual keylines*/
    border-top: solid 1px #68832a;
    border-bottom: solid 1px #a8d244; 
  }
  
  /* 
   * This little bit of magic ensures the pseudeo-elements start
   * precisely at the boundaries of the text element, regardless      
   * of the text element's width.   
   */
  
  h2:before {
    right: 100%; 
  }
  
  h2:after {
    left: 100%; 
  }

  ----

  h3 {
  display: inline;
  position: absolute;
  padding: 0 20px; /*gap between keylines and text */
  text-align: left;
   
  /*font styles - not needed to create the keylines*/
  color: #fff;
  font-size: 40px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

  h3:before,
  h3:after {
    content: ""; 
    position: absolute; 
    top: 100px;
    width: 200%; /*can be set larger, but this was the largest it needed to be in my case*/
    height: 0;
   
    /* the actual keylines*/
    border-top: solid 1px #68832a;
    border-bottom: solid 1px #a8d244; 
  }
  
  /* 
   * This little bit of magic ensures the pseudeo-elements start
   * precisely at the boundaries of the text element, regardless      
   * of the text element's width.   
   */
  
  h3:before {
    right: 100%; 
  }
  
  h3:after {
    left: 100%; 
  }